<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  
    <form method="POST">
      <h2>Cadastro</h2>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />

      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" required />

      <label for="usuario">Nome de usuário:</label>
      <input type="text" name="usuario" id="usuario" required />

      <label for="tipo">Tipo:</label>
      <select name="tipo" id="tipo" required>
        <option value="">Selecione</option>
        <option value="aluno">Aluno</option>
        <option value="monitor">Monitor</option>
      </select>

      <button type="submit" class="btn">Cadastrar</button>

      <p style="text-align: center; margin-top: 20px;">
        Já tem conta?
        <a href="{{ url_for('login') }}">Entrar</a>
      </p>
    </form>
  
</body>
</html>
